$color:rgb(00, 00, 00);
$alpha:0.8;
body {
    background-color: rgba($color, $alpha);
    font-family: microsoft yahei;
}

.box {
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
    border: 15px solid #f0f0f0;
    background: $color;
    .title {
        width: 300px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 1;
        color: #fff;
        text-align: center;
        font-size: 24px;
    }
    .difficulty {
        width: 300px;
        position: absolute;
        top:180px;
        z-index: 1;
        font-family: microsft yahei;
        a{
        	width: 180px;
        	height: 30px;
        	line-height: 30px;
        	text-align: center;
        }
    }

}